<div class="jumbotron">
    <h1>Handcrafted Items from 
        <br>
                    around the world
        </h1>
        <h2>Discover one of a kind items!</h2>
        <div class="form-group">
        <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for that amazing item", class: "col-xs-4" %> <br>
        
        <% end %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
</div>
    <div class="center">
        
        <% if @listings.present? %>
            <%= render 'listings' %>
        <% else %>
            <p>There are no listings containing the term(s) <%= params[:search] %>.</p>
        <% end %>
    </div>
    <br>
    
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class:"btn btn-link" %>
<% end %>
